body{
    background-color: azure;
}
#heading{ 
    padding-left: 200px;
    position: static;
    image-pa
    
    
}
.sent,.callsales{
    margin:flex;
}
.callsales
{   
    padding-top: 30px;
    padding-left: 200px;
    width:960px;
}
.SupportQuestion{
 
    padding-left: 200px;
}
form{
    table-layout: 2px;
  
}
li{
    display: inline-block;
    padding-left: 200px;
    position: sticky;
  
}
.send,.callsales{
  width: 960px;
}

.send{
    margin-top: 15px;
    padding-left: 600px;
    padding-top: 400px;
   background-position: right;
  padding-top: 90;
  border-color: azure;
  border-style: 2px,solid;
  width: 400px;
}
#get{
    color:red;
  
}
.sent{
    margin-top: 15px;
    padding-top: 0px;
    padding-left: 600px;
border:2px;
margin:flex;

}
.su{
    border-color: red;
    color: red;
}
#copy:hover{
    color: rosybrown;

}
#copy:link{
    color: brown;
   }
   #copy:focus{
       color: brown;
   }
#chat{
    padding-left: 1500px;
    position:static;
    padding-bottom: 20px;
}
#id{
    text-emphasis-color: black;
    color: black;
text-align: center;
} 
#USA
{ margin:flex;
    
    width: 200px;
  height: 200px;
  border: 1px solid rgb(249, 249, 252);
}
#Eymard{
    margin:flex;
    width: 200px;
  height: 200px;
  border: 1px solid rgb(239, 239, 250);
}
#karuna{
    margin:flex;
    width: 200px;
  height: 200px;
  border: 1px solid rgb(243, 243, 250);
}
#mathura{
    margin:flex;
    width: 200px;
    float:top;
  height: 200px;
  border: 1px solid rgb(242, 242, 252);
}
#kenya{
    margin:flex;
    width: 200px;
  height: 200px;
  border: 
  #F{
      margin:flex;
  }